footer{
    background-color: #1d1b1d;
    width: 100%;
    height: 100px;
    color: white;
    position: absolute;
    bottom:0; 
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px ;
    max-width: 1200px;
    margin: 0 auto;
}
.footer_copyright{
    font-size: 14px;
}
.footer_adress{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .footer_text{
        font-size: 25px;
        margin-bottom: 5px;
        color: #0093f5;
    }
}
.footer_phone{
    display: flex;
    margin-left: 15px;
    a{
        color: #0093f5;
        text-decoration: none;
        font-weight: 600;
         &:hover{
            color: #ffd104;
            transition: 0.5s;
        }
    }
    i{
        margin-right: 15px;
    }
}

