
<div class="product_сard" *ngFor="let sushi of sushiList">
  <div class="sushi.img">
      <img [src]="sushi.img" [alt]="sushi.name">
  </div>
  <div class="product_properties">
    <p class="name">{{sushi.name}}</p>
    <p class="composition">{{sushi.description}}</p>
    <div class="info"> 
      <div class="weight">
        <span *ngIf="sushi.portion">{{sushi.portion}}</span>
        <span *ngIf="sushi.sauce">/{{sushi.sauce}}</span>
        <span> грамм</span>
        <span *ngIf="sushi.count"> ({{sushi.count}} шт.)</span>
      </div>
      <div class="price">
        <span *ngIf="sushi.price">{{sushi.price}} грн</span>
      </div>
    </div>
  </div>
</div>