.box{
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0;
}
.product_—Åard{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 30%;
    &:hover{
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        transition: 1s;
    }
}    
img{
    // object-fit: cover;
    // object-position: 25% 25%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.product_properties{
    padding: 20px;
}
.name{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.price{
    font-size: 25px;
    padding-left: 20px;
}
.weight{
    padding-top: 10px;
    font-size: 12px;
}
.composition{
    padding-top: 10px;
}