
<div class="product_сard" *ngFor="let sushi of sushiList">
  <img [src]="sushi.img" [alt]="sushi.name">
  <div class="product_properties">
    <p class="name">{{sushi.name}}</p>
    <p class="weight">
      <span *ngIf="sushi.portion">{{sushi.portion}}</span>
      <span *ngIf="sushi.sauce">/{{sushi.sauce}}</span>
      <span *ngIf="sushi.count"> ({{sushi.count}} шт.)</span>
    </p>
    <p class="composition">{{sushi.description}}</p>
  </div>
  <div class="price">
    <p>165 грн</p>
  </div>

</div>